# Local staging area. Archives are created here first before scp'ing to remote.
# Need to have enough space for the initial full snapshot.
STAGING=`mktemp -d`
# ZPAQ binary location
ZPAQ=./mock-zpaq.sh
# ZPAQ options. It should begin with files and directories you want to backup
# and followed by options.
ZPAQOPT=(/home)
# Remote host and login information.
REMOTE=sarah@losangeles
REMOTE_DIR=sarah-backup
# SSH ID for accessing remote host
SSH_ID=/home/sarah/.ssh/id_rsa

# How many partial snapshots to keep at remote before creating a new full snapshot.
REMOTE_PARTIAL_SNAPSHOTS_TO_KEEP=30

# How many recent remote FULL snapshots to keep. Older ones will be deleted.
# Unset this variable to disable removing remote snapshots.
REMOTE_FULL_SNAPSHOTS_TO_KEEP=3

# Location of the lock file.
LOCK=/tmp/remote-backup.pid

# Hooks. The program terminates if any hook returns non-zero.
failed_hook() {
    return 42
}
PRE_UPLOAD_HOOK=failed_hook
