# 1 means yes, 0 means no.

# Identifier for logging into syslog. Need to be unique on this system
# because we also use it to prevent reentry.
LOG_IDENTIFIER=borgmatic_myhostname
# Setting log destination for each log level. Available choices are
# syslog, stdout, and stderr. You are allowed to combine two
# destinations, such as LOG_INFO="syslog stdout".
LOG_DEBUG=syslog
LOG_INFO=syslog
LOG_WARNING=stdout
LOG_ERROR=stdout

CHECK_AC_POWER=1
CHECK_NETWORK_MANAGER_NETWORK=MyNetworkSSID
# Only run if we can ping this host
CHECK_PING_HOST=my_backup_storage_server

BORGMATIC_CONF_FILE=/home/yanli/config/etc/borgmatic_config.yaml
# Only write a finish file for the "daily" task because other tasks
# don't actually backup files from bellatrix.
FINISH_TIMESTAMP_FILE=/my_backup_storage_server/brogmatic_myhostname_last_finished.txt

EXTRA_BORGMATIC_ARGS=(--syslog-verbosity 1)
